.box-image-text .image {
  min-height: 190px;
  max-height: 190px;
}

.box-image-text .image img {
  max-height: 190px;
  margin: auto;
}

.box-simple {
  min-height: 230px;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  color: #555555;
}

.navbar {
  position: relative;
  min-height: 75px;
  margin-bottom: 0;
  border-bottom: 1px solid transparent;
}

.navbar-brand {
  float: left;
  padding: 2px 15px 0px;
  font-size: 18px;
  line-height: 20px;
  height: 75px;
}

.navbar-brand img {
  max-height: 75px;
}

.navbar ul.nav > li > a {
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: bold;
  letter-spacing: 0.08em;
  border-top: solid 10px transparent;
  height:82px;
}
.navbar ul.nav > li > a:hover {
  border-top: solid 10px transparent;
}
.navbar ul.nav > li.active > a,
.navbar ul.nav > li.open > a {
  text-decoration: none !important;
  border-top: solid 10px transparent;
}

#heading-breadcrumbs {
  background: url('../img/texture-bw.png') center center repeat;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

#footer {
  background: #555555;
  padding: 20px 0;
  color: #999999;
}